hr {
  margin-top: 6pt;
  margin-bottom: 6pt;
  border-color: #b5cfda;
}

li {
  margin-left: 10pt;
}
.section {
  margin-left: 0pt;
  font-size: 20pt;
}

pre {
  font-family: Monaco, "Courier New", monospace;
}

.sidebar {
  overflow-y: auto;
}
