<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">Draw Dependencies</p>
    </div>

    <ul class="sidebar-nav">

      <hr/>
      <li class="section">Use Dep2pict</li>
      <li><a href="/installation">Install Dep2pict</a></li>
      <li><a href="/run">Run Dep2pict</a></li>
      <li><a href="/upgrade">Upgrade Dep2pict</a></li>
      <!-- <li><a href="/whats">version 0.45: what's new</a></li> -->

      <hr/>
      <li class="section">Developper corner</li>
      <li><a href="https://gitlab.inria.fr/dep2pict/libcaml_dep2pict">Gitlab for Dep2pict library</a></li>
      <li><a href="https://gitlab.inria.fr/dep2pict/dep2pict">Gitlab for Dep2pict</a></li>
      <li><a href="https://gitlab.inria.fr/dep2pict/dep2pict_gui">Gitlab for PyQt GUI</a></li>
    </ul>

  </div>
</div>
